In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Importing data

In [2]:
df1=pd.read_csv("/Users/eunice/Downloads/matches.csv")

In [3]:
df2=pd.read_csv("/Users/eunice/Downloads/deliveries.csv")

In [4]:
df1.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [5]:
df2.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [6]:
print("Shape of Match dataset:",df1.shape)

Shape of Match dataset: (756, 18)

In [7]:
df2.shape

(179078, 21)

In [8]:
merged_data = pd.merge(df2, df1, left_on='match_id', right_on='id', how='left')

In [9]:
merged_data

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179073,11415,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,SL Malinga,0,...,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong
179074,11415,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,SL Malinga,0,...,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong
179075,11415,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,SL Malinga,0,...,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong
179076,11415,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,SL Malinga,0,...,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong
179077,11415,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,SL Malinga,0,...,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong

### The column which has the most missing values according to the data is:

In [10]:
merged_data.isnull().sum()

match_id                 0
inning                   0
batting_team             0
bowling_team             0
over                     0
ball                     0
batsman                  0
non_striker              0
bowler                   0
is_super_over            0
wide_runs                0
bye_runs                 0
legbye_runs              0
noball_runs              0
penalty_runs             0
batsman_runs             0
extra_runs               0
total_runs               0
player_dismissed    170244
dismissal_kind      170244
fielder             172630
id                       0
season                   0
city                  1700
date                     0
team1                    0
team2                    0
toss_winner              0
toss_decision            0
result                   0
dl_applied               0
winner                 372
win_by_runs              0
win_by_wickets           0
player_of_match        372
venue                    0
umpire1                500
umpire2                500
umpire3             150712
dtype: int64

### City which hosted most number of seasons according to the data is:

In [11]:
most_hosted_city = merged_data['city'].value_counts().idxmax()

print("City that hosted the most number of seasons:", most_hosted_city)

City that hosted the most number of seasons: Mumbai

### Which year has the most number of matches played?

In [12]:
merged_data['d'] = pd.to_datetime(merged_data['date'])

merged_data['year'] = merged_data['date'].dt.year

ValueError: time data "07/04/18" doesn't match format "%Y-%m-%d", at position 450. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [ ]:
matches_per_year = merged_data['year'].value_counts()

matches_per_year

In [25]:
most_matches_season = matches_per_season.idxmax()

most_matches_season

NameError: name 'matches_per_season' is not defined

### Maximum wins by Mumbai Indians in 2011 are

In [24]:
# Filter data for Mumbai Indians in 2011
mi_2011 = merged_data[(merged_data['team1'] == 'Mumbai Indians') | (merged_data['team2'] == 'Mumbai Indians')]
mi_2011 = mi_2011[mi_2011['season'] == 2011]

### What is the percentage of getting bat and field in feature 'toss_descision'?

In [15]:
toss_decision_counts = merged_data['toss_decision'].value_counts()

In [16]:
# Calculate the percentage
percentage_bat = (toss_decision_counts['bat'] / len(merged_data['toss_decision'])) * 100
percentage_field = (toss_decision_counts['field'] / len(merged_data['toss_decision'])) * 100

In [17]:
print(f"Percentage of choosing 'bat': {percentage_bat:.2f}%")
print(f"Percentage of choosing 'field': {percentage_field:.2f}%")

Percentage of choosing 'bat': 39.01%
Percentage of choosing 'field': 60.99%

### Which statement holds true

In [18]:
# Convert 'winner' column to indicate 1 for win and 0 for loss

merged_data['win_indicator'] = (merged_data['team1'] == merged_data['winner']) | (merged_data['team2'] == merged_data['winner']).astype(int)

In [19]:
# Calculate the number of matches won based on toss decision
matches_won_by_bat = merged_data[merged_data['toss_decision'] == 'bat']['win_indicator'].sum()
matches_won_by_field = merged_data[merged_data['toss_decision'] == 'field']['win_indicator'].sum()

In [20]:
# Determine the option
if matches_won_by_field > matches_won_by_bat:
    result_option = "(option A)"
elif matches_won_by_bat > matches_won_by_field:
    result_option = "(option B)"
else:
    result_option = "C) Both A and B."

print(result_option)

(option A)

### In which years where taking batting second have won more number of matches?

In [23]:
merged_data['win_indicator'] = (merged_data['team2'] == merged_data['winner']).astype(int)


matches_won_batting_second = merged_data[merged_data['win_indicator'] == 1].groupby('season').size()


years_with_more_wins_batting_second = matches_won_batting_second[matches_won_batting_second == matches_won_batting_second.max()].index.tolist()

print("Years where taking batting second has won more number of matches:", years_with_more_wins_batting_second)

Years where taking batting second has won more number of matches: [2016]

### In 2019 which batsman scored highest number of runs by hitting 6's and 4's?

In [27]:
merged_data['date'] = pd.to_datetime(merged_data['date'])


merged_data['season'] = merged_data['date'].dt.year

ValueError: time data "07/04/18" doesn't match format "%Y-%m-%d", at position 450. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [29]:
wickets_by_bowler = merged_data[merged_data['dismissal_kind'].notnull()].groupby('bowler')['dismissal_kind'].count()

In [30]:
top_bowler = wickets_by_bowler.idxmax()
most_wickets = wickets_by_bowler.max()

print(f"The bowler most wickets is {top_bowler} with {most_wickets} wickets.")

The bowler most wickets is SL Malinga with 188 wickets.

### What is the strike rate of Kohli in 2016

In [32]:
#  Virat Kohli in 2016
kohli_2016 = merged_data[(merged_data['batsman'] == 'V Kohli') & (merged_data['season'] == 2016)]

# Calculate the total runs 
total_runs_kohli_2016 = kohli_2016['batsman_runs'].sum()

# Calculate the total balls faced 
total_balls_faced_kohli_2016 = kohli_2016.shape[0]

In [33]:
# Calculate the strike rate
strike_rate_kohli_2016 = (total_runs_kohli_2016 / total_balls_faced_kohli_2016) * 100

print(f"Virat Kohli's strike rate in 2016 was: {strike_rate_kohli_2016:.2f}")

Virat Kohli's strike rate in 2016 was: 148.55

In [35]:
extras_by_bowler = merged_data.groupby('bowler')['extra_runs'].sum()
max_extras_bowlers = extras_by_bowler[extras_by_bowler == extras_by_bowler.max()]

In [36]:
print(max_extras_bowlers)

bowler
SL Malinga    293
Name: extra_runs, dtype: int64

In [38]:
matches_per_venue = merged_data['venue'].value_counts()
most_matches_venue = matches_per_venue.idxmax()
print("Venue that has hosted the most number of IPL matches:", most_matches_venue)

Venue that has hosted the most number of IPL matches: Eden Gardens

In [39]:
match_2017 = merged_data[((merged_data['team1'] == 'Sunrisers Hyderabad') & (merged_data['team2'] == 'Royal Challengers Bangalore') | 
                            (merged_data['team1'] == 'Royal Challengers Bangalore') & (merged_data['team2'] == 'Sunrisers Hyderabad')) & 
                           (merged_data['season'] == 2017)]

In [40]:
match_id_2017 = match_2017['match_id'].values[0]

In [41]:
player_of_match = merged_data[merged_data['match_id'] == match_id_2017]['player_of_match'].values[0]

print(f"SRH and RCB in 2017 man of the match was: {player_of_match}")

SRH and RCB in 2017 man of the match was: Yuvraj Singh

In [46]:
kohli_vs_bumrah = merged_data[(merged_data['batsman'] == 'V Kohli') & (merged_data['bowler'] == 'JJ Bumrah')]

# Calculate the total runs scored by V Kohli against JJ Bumrah
total_runs_kohli_vs_bumrah = kohli_vs_bumrah['batsman_runs'].sum()

print(f" Virat Kohli against JJ Bumrah: {total_runs_kohli_vs_bumrah}")

 Virat Kohli against JJ Bumrah: 112

In [48]:
caught_and_bowled_data = merged_data[merged_data['dismissal_kind'] == 'caught and bowled']

caught_and_bowled_by_player = caught_and_bowled_data['batsman'].value_counts()

In [49]:
max_caught_and_bowled_player = caught_and_bowled_by_player.idxmax()
max_caught_and_bowled_count = caught_and_bowled_by_player.max()

In [50]:
print(f"Player dismissed  maximum with caught and bowled: {max_caught_and_bowled_player} with {max_caught_and_bowled_count} dismissals.")

Player dismissed  maximum with caught and bowled: SK Raina with 7 dismissals.

In [55]:
player_strike_rate = merged_data[.groupby('batsman')['batsman_runs'].count() / merged_data[.groupby('batsman')['ball'].count() * 100

# Calculate the number of boundaries (fours and sixes) for each player
player_boundaries = merged_data[[merged_data[['batsman_runs'].isin([4, 6])]/merged_data[.groupby('batsman')['batsman_runs'].count()

SyntaxError: invalid syntax (3630250947.py, line 1)